mlflow==2.13.0
scikit-learn==1.4.2
pandas==2.2.2
dvc[gs,s3]==3.50.1
pathspec==0.11.2
pytest==8.2.0
fastapi==0.111.0
uvicorn==0.29.0
joblib==1.4.2
google-cloud-storage==2.16.0
pyyaml==6.0.1
python-dotenv==1.2.4
numpy==1.26.4
setuptools<81
SQLAlchemy>=2.0,<2.1
gcsfs==2025.12.0
boto3==1.41.5
aiobotocore==2.26.0
s3fs==2025.12.0
